html,
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #3B454E;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 16px; }

.button {
  cursor: pointer; }

.full-screen {
  min-height: calc(100vh - 138px); }

.ptm {
  padding-top: 80px; }

.pvm {
  padding: 80px 0; }

.mts {
  margin-top: 40px; }

.pm {
  padding: 80px 10%; }

h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
  margin: 0; }

#scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 100px; }

.parallax-picture {
  height: 90vh;
  transform: translateZ(-25px) scale(1.25); }
  .parallax-picture .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -10; }

.fixed {
  position: sticky !important;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0; }

#rotate-button {
  display: none; }

#commissions {
  background-color: #3B454E;
  color: white;
  padding: 50px 10%;
  position: relative;
  z-index: 1; }
  #commissions div {
    margin: 20px 0; }
  #commissions .thumbnail {
    width: 30%; }

#events {
  background-color: #3B454E;
  height: 100vh;
  position: relative;
  z-index: 1;
  color: white;
  padding: 50px 10%; }

#contact {
  background-color: #3B454E;
  height: 100vh;
  position: relative;
  z-index: 1;
  color: white;
  padding: 50px 10%; }

#landing .landing-parallax {
  height: 100vh;
  width: 100vw;
  transform: translateZ(-25px) scale(1.25);
  position: absolute;
  z-index: -1; }
  #landing .landing-parallax .background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10; }
#landing .landing-info {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5; }
  #landing .landing-info .signature {
    z-index: 2;
    height: 250px;
    background-size: 300px 100px;
    margin-right: 50px; }
  #landing .landing-info .title {
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    margin-top: 50px; }
  #landing .landing-info .landing-buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px; }
    #landing .landing-info .landing-buttons .button {
      margin: 0 10px; }

.tool-bar {
  color: white;
  position: relative;
  background-color: #3B454E;
  height: 20px;
  display: flex;
  padding: 20px 5%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .tool-bar .logo {
    width: 20%; }
  .tool-bar .buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 20px; }
  .tool-bar #hamburger {
    display: none; }

@media only screen and (max-width: 800px) {
  .tool-bar .buttons {
    display: none; }
  .tool-bar #hamburger {
    display: flex; } }
#side-bar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #3B454E;
  z-index: 5;
  transition: transform 0.2s ease; }

#about {
  background-color: #3B454E;
  color: white;
  position: relative;
  z-index: 1; }
  #about .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #about .left {
    width: 45%; }
  #about .right {
    width: 45%; }
  #about .fred {
    width: 100%; }

#sculpture {
  background-color: #3B454E;
  position: relative;
  z-index: 1;
  color: white; }
  #sculpture .image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #sculpture .image-container .thumbnail {
      cursor: pointer;
      margin: 20px 0;
      width: 30%;
      overflow: hidden; }
      #sculpture .image-container .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s, filter 0.15s ease-in-out;
        transform-origin: center center;
        filter: brightness(90%); }
    #sculpture .image-container .thumbnail:hover img {
      transform: scale(1.05);
      filter: brightness(100%); }
  #sculpture .arrow {
    text-align: center;
    opacity: 60%; }
    #sculpture .arrow img {
      cursor: pointer; }

#sculpture-modal {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: none; }
  #sculpture-modal .modal-container {
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    margin: 5vh 3vw;
    height: 90vh;
    align-items: center; }
    #sculpture-modal .modal-container #wrapper {
      padding: 0;
      height: auto;
      width: auto;
      margin: 0; }
      #sculpture-modal .modal-container #wrapper #viewer {
        height: auto;
        width: auto; }
        #sculpture-modal .modal-container #wrapper #viewer img {
          width: 60vw;
          max-width: 800px; }
    #sculpture-modal .modal-container #full-size-image {
      display: none;
      position: relative;
      height: 100%;
      width: 60vw;
      overflow: hidden; }
      #sculpture-modal .modal-container #full-size-image img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    #sculpture-modal .modal-container .info {
      font-size: 18px;
      margin-left: auto;
      width: 34vw; }
      #sculpture-modal .modal-container .info .title {
        font-family: "Cormorant Garamond", serif;
        font-weight: 500;
        font-size: 32px;
        margin: 0 10%;
        margin-bottom: 50px; }
      #sculpture-modal .modal-container .info .modal-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        margin: 0 10%;
        margin-bottom: 20px;
        font-size: 14px; }
      #sculpture-modal .modal-container .info #enquire-button {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 14px;
        border: 1px solid #404040;
        display: inline-block;
        padding: 10px 40px;
        margin: 40px 10%; }
  #sculpture-modal.show-modal {
    display: block; }

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  width: 500px;
  height: 400px; }

/*# sourceMappingURL=index.css.map */
