#about {
  background-color: #3B454E;
  height: 100vh;
	color: $font-color;
	display: flex;
	justify-content: space-between;
	padding: 50px 10%;
	position: relative;
	z-index: 1;
	// transform: translateZ(1px) perspective(1px);

	.left {
		width: 45%;
	}

	.right {
		width: 45%;

		div {
			padding: 20px 0;
		}
	}

	.fred {
		width: 100%;
	}
}
