#about {
  background-color: #3B454E;
	color: $font-color;
	position: relative;
	z-index: 1;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

	.left {
		width: 45%;
	}

	.right {
		width: 45%;

		div {
			// padding: 20px 0;
		}
	}

	.fred {
		width: 100%;
	}
}
