#about {
  background-color: $theme-color;
  color: $font-color;
  position: relative;
  z-index: 1;

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

	.left {
      width: 100%;
      padding-bottom: 30px;

      .fred {
        // max-height: 500px;
        object-fit: cover;
      }
	}

	.right {
      width: 100%;
      text-align: justify;
      text-justify: inter-word;
	}

	.fred {
		width: 100%;
	}
}

@media only screen and (min-width: $tablet-breakpoint) {
  #about {
    .flex-container {
      flex-direction: row;
    }

    .left {
      width: 45%;
      padding-bottom: 0;
    }

    .right {
      width: 45%;
    }
  }
}
