#commissions {
	background-color: $theme-color;
	color: $font-color;
	position: relative;
	z-index: 1;
	text-align: justify;
	text-justify: inter-word;

	.commission-box {
		margin: 0;
	}

	.commission-name {
		text-align: center;
	}
}

@media only screen and (min-width: $tablet-breakpoint) {
	#commissions {
		.commission-box {
			margin: 0 15%;
		}
	}
}
