#events {
	background-color: $theme-color;
	position: relative;
	z-index: 1;
	color: $font-color;

  .event-content {
    display: flex;
    justify-content: space-between;
		flex-direction: column;

    div {
      text-align: center;
    }

    .left {
      width: 100%;

      .left-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .info {
        margin-top: 15px;
      }
    }

    .right {
      width: 100%;
			margin-top: $medium-distance;

      .right-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .address {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
	#events {
		.event-content {
			flex-direction: row;

			.left {
				width: 45%;
			}

			.right {
				width: 45%;
				margin-top: 0;
			}
		}

	}
}
