#landing {
	.landing-parallax {
		height: 100vh;
		width: 100vw;
		// transform: translateZ(-15px) scale(1.15);
		transform: translateZ(-25px) scale(1.25);
		position: absolute;
		z-index: -1;

		.background-image {
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: -10;
		}
	}

	.landing-info {
		height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 5;

		.signature {
			z-index: 2;
			height: 25vw;
			background-size: 300px 100px;

			margin-right: 50px;
		}

		.title {
			font-family: $font-title;
			font-weight: 500;
			font-size: 35px;
			margin: 100px 5% 0 5%;
			text-align: center;
		}

		.landing-buttons {
			display: none;
			justify-content: space-between;
			font-weight: 400;
			margin-top: 50px;
			margin-bottom: 30px;
			font-size: 20px;

			.button {
				margin: 0 10px;
			}
		}

		.insta-container {
			padding-top: 10px;
		}
	}
}

@media only screen and (min-width: $tablet-breakpoint) {
	#landing {
		.landing-info {
			.signature {
				height: 250px;
			}

			.title {
				font-size: 45px;
				margin: 50px 5% 0 5%;
			}

			.landing-buttons {
				display: flex;
			}
		}
	}
}
