#sculpture-modal {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: none;

	.modal-container {
		background-color: white;
		color: black;
		display: flex;
		justify-content: flex-start;
		margin: 0;
		height: 100vh;
		align-items: center;
		position: relative;

		#modal-cross {
			position: absolute;
			top: 0;
			right: 0;
			padding: 20px 20px 0 0;
			cursor: pointer;
			z-index: 10;
			width: 20px;
		}

		#wrapper {
			padding: 0;
			height: auto;
			width: auto;
			margin: 0;
			cursor: pointer;

			#viewer {
				height: auto;
				width: auto;

				img {
					//max-width: 800px;
				}
			}

			#spin-me {
				margin-top: -33px;
				margin-right: 50px;
				font-size: 14px;
				font-weight: 200;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 1s linear;

				img {
					//margin-right: 80px;
					margin-top: 3px;
					margin-right: 15px;
					width: 30px;
				}
			}
		}

		#full-size-image {
			display: none;
			position: relative;

			// change this for full screen
			//height: 100%;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			#leave-box {
				position: absolute;
				height: 60px;
				padding-bottom: 10px;
				left: 0;
				right: 0;
				bottom: 0;
				//flex-direction: column;
				//justify-content: space-around;
				//align-items: stretch;

				#blob-container {
					display: flex;
					justify-content: center;

					#image-blobs {
						width: 5px;
						height: 5px;
						margin: 0 10px;
						background-color: white;
						border-radius: 50%;
						align-self: center;
						opacity: 50%;

						&.highlight {
							opacity: 100%;
						}
					}
				}
			}
		}

		#full-size-zoom {
			display: flex;
		}

		#direction-buttons {
			display: none;
			justify-content: space-around;
			align-items: center;
			height: 100%;
			width: 100%;

			#image-left {
				cursor: pointer;
				width: 35px;
				height: 35px;
				transform: rotate(180deg);
			}

			#image-right {
				cursor: pointer;
				width: 35px;
				height: 35px;
			}
		}

		.info {
			font-size: 18px;

			.padding-box {
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			.title {
				font-family: $font-title;
				font-weight: 500;
				font-size: 32px;
				margin-bottom: 20px;
				margin-top: 20px;
			}

			.modal-text {
				font-family: $font-body;
				font-weight: 200;
				font-size: 14px;
			}

			.icon {
				width: 30px;
				cursor: pointer;
			}

			.camera {
				width: 25px;
			}

			#enquire-button {
				font-family: $font-body;
				font-weight: 200;
				font-size: 14px;
				border: 1px solid $border-color;
				display: inline-block;
				margin-top: 20px;
				margin-bottom: 40px;
				align-self: baseline;
				cursor: pointer;
				color: black;
				height: 40px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 100%;
			}

			.image-button {
				display: none;
				font-family: $font-body;
				font-weight: 200;
				font-size: 14px;
				border: 1px solid $border-color;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 100%;
				cursor: pointer;
				margin-top: 20px;

				div {
					margin-left: 10px;
				}

				img {
					margin-right: 10px;
				}
			}
		}
	}

	&.show-modal {
		display: block;
	}
}

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  width: 400px;
  height: 300px;
}

@media only screen and (min-width: $mobile-breakpoint) {
	#sculpture-modal {
		.modal-container {
			margin: 5vh 3vw;
			height: 90vh;
		}
	}
}

@media (orientation: landscape) {
	#sculpture-modal {
		.modal-container {
			flex-direction: column;
			justify-content: space-around;

			#wrapper {
				#viewer {
					img {
						width: 60vw;
					}
				}
			}

			.info {
				width: 100%;

				.padding-box {
					//width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-around;
				}

				.left {
					width: 35%;
					margin-left: 10%;
				}

				.right {
					width: 35%;
					margin-right: 10%;
				}

				.title {
					margin-top: 0px;
				}

				.modal-text {
					margin-top: 0px;
				}

				.image-button {
					margin-top: 40px;
				}
			}

			#full-size-image {
				width: 100%;
				height: 100%;
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		#sculpture-modal {
			.modal-container {
				flex-direction: row;

				.info {
					margin-left: auto;
					width: 34vw;

					.padding-box {
						padding: 0 10%;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
					}

					.title {
						margin-bottom: 50px;
					}

					.left {
						width: 100%;
						margin: 0;
					}

					.right {
						width: 100%;
						margin: 0;
					}

					.modal-text {
						margin-bottom: 20px;
					}

					#enquire-button {
						margin-top: 40px;
					}
				}

				#full-size-image {
					width: 60vw;
					height: 100%;
				}
			}
		}
	}
}

@media (orientation: portrait) {
	#sculpture-modal {
		.modal-container {
			flex-direction: column;
			justify-content: space-around;

			#wrapper {
				#viewer {
					img {
						width: 60vh;
						margin-bottom: 10vh;
					}
				}
			}

			.info {
				margin-left: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				flex-wrap: wrap;

				.modal-text {
					margin-bottom: 5px;
				}
			}

			#full-size-image {
				width: 100%;
			}
		}
	}

	@media only screen and (min-width: $mobile-breakpoint) {
		#sculpture-modal {
			.modal-container {
				#wrapper {
					#viewer {
						img {
							width: 60vh;
							margin-bottom: 3vh;
						}
					}
				}

				#full-size-image {
					height: 100%;
				}
			}
		}
	}

	@media only screen and (min-width: $tablet-breakpoint) {
		#sculpture-modal {
			.modal-container {
				#wrapper {
					#viewer {
						img {
							width: 80vh;
						}
					}
				}

				.info {
					.title {
						margin-bottom: 50px;
					}
				}
			}
		}
	}
}
