#sculpture-modal {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: none;

	.modal-container {
		background-color: white;
		color: black;
		display: flex;
		justify-content: flex-start;
		margin: 0;
		height: 100vh;
		align-items: center;
		position: relative;

		#modal-cross {
			position: absolute;
			top: 0;
			right: 0;
			padding: 20px 20px 0 0;
			cursor: pointer;
			z-index: 10;
			width: 20px;
		}

		#wrapper {
			padding: 0;
			height: auto;
			width: auto;
			margin: 0;

			#viewer {
				height: auto;
				width: auto;

				img {
					max-width: 800px;
				}
			}
		}

		#full-size-image {
			display: none;
			position: relative;
			height: 100%;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			#leave-box {
				position: absolute;
				top: 80vh;
				left: 0;
				right: 0;
				bottom: 0;
				flex-direction: column;
				justify-content: space-around;
				align-items: stretch;

				#blob-container {
					display: flex;
					width: 100%;
					justify-content: center;

					#image-blobs {
						width: 5px;
						height: 5px;
						margin: 0 10px;
						background-color: white;
						border-radius: 50%;
						align-self: center;
						opacity: 50%;

						&.highlight {
							opacity: 100%;
						}
					}
				}
			}
		}

		#direction-buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 100%;
			width: 100%;

			#image-left {
				cursor: pointer;
				width: 35px;
				height: 35px;
				transform: rotate(180deg);
			}

			#image-right {
				cursor: pointer;
				width: 35px;
				height: 35px;
			}
		}

		.info {
			font-size: 18px;
			display: flex;
			flex-direction: column;

			.title {
				font-family: $font-title;
				font-weight: 500;
				font-size: 32px;
				margin: 0 10%;
				margin-bottom: 50px;
			}

			.modal-text {
				font-family: $font-body;
				font-weight: 200;
				margin: 0 10%;
				margin-bottom: 20px;
				font-size: 14px;
			}

			.icon {
				width: 30px;
				cursor: pointer;
				padding-left: 10%;
				margin-top: 10px;
			}

			#enquire-button {
				font-family: $font-body;
				font-weight: 200;
				font-size: 14px;
				border: 1px solid $border-color;
				display: inline-block;
				padding: 10px 40px;
				margin: 40px 10%;
				align-self: baseline;
			}
		}
	}

	&.show-modal {
		display: block;
	}
}

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  width: 400px;
  height: 300px;
}

@media (orientation: landscape) {
	#sculpture-modal {
		.modal-container {
			flex-direction: row;

			#wrapper {
				#viewer {
					img {
						width: 60vw;
					}
				}
			}

			.info {
				margin-left: auto;
				width: 34vw;
			}

			#full-size-image {
				width: 60vw;
			}
		}
	}
}

@media only screen and (min-width: $mobile-breakpoint) {
	#sculpture-modal {
		.modal-container {
			margin: 5vh 3vw;
			height: 90vh;
		}
	}
}

@media (orientation: portrait) {
	#sculpture-modal {
		.modal-container {
			flex-direction: column;
			justify-content: flex-end;

			#wrapper {
				#viewer {
					img {
						width: 60vh;
						margin-bottom: 10vh;
					}
				}
			}

			.info {
				margin-left: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				flex-wrap: wrap;

				.modal-text {
					margin-bottom: 5px;
				}
			}

			#full-size-image {
				width: auto;
			}
		}
	}

	@media only screen and (min-width: $mobile-breakpoint) {
		#sculpture-modal {
			.modal-container {
				#wrapper {
					#viewer {
						img {
							width: 60vh;
							margin-bottom: 3vh;
						}
					}
				}
			}
		}
	}

	@media only screen and (min-width: $tablet-breakpoint) {
		#sculpture-modal {
			.modal-container {
				#wrapper {
					#viewer {
						img {
							width: 80vh;
						}
					}
				}
			}
		}
	}
}
