#terms {
  background-color: $theme-color;
  color: $font-color;
  //position: relative;
  //z-index: 1;
  //display: flex;

  .signature {
    height: 100px;
  }

  .footer {
    justify-content: center;
  }
}