.tool-bar {
  color: white;
  position: relative;
  background-color: #3B454E;
  height: 20px;
  display: flex;
  padding: 20px 5%;
  z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		width: 20%;
	}

	.buttons {
    	display: none;
		width: 60%;
		justify-content: space-between;
		font-family: $font-body;
		font-weight: 300;
		font-size: 16px;
	}

	#hamburger {
		display: flex;
	}

	.highlight {
		border-bottom: 1px solid rgba(255,255,255, 0.4);
	}

	.button {
		margin-bottom: 1px;
		padding-bottom: 2px;
	}
}

@media only screen and (min-width: $tablet-breakpoint) {
	.tool-bar {
    .buttons {
      display: flex;
    }

		#hamburger {
			display: none;
		}
	}
}
